// Variables
$main-color: #000000;
$secondary-color: darken(#888888, 10%);
$main-font-size: 14px;
$background: rgb(40, 44, 52);

$green: #228B22;
$yellow: #FCD116;
$red: #E81123;
$blue: #00AFF0;
$white: #ffffff